body{
    background-image: linear-gradient(red, orange, yellow);
}

h2{
    background-color: rgba(244, 7, 15);
    color: rgb(248, 240, 6);
    font-size: 7.2vw;
    font-display: ;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 25px; 
    position:relative;
    z-index: 1; 
    margin-top:2px;
}

.enemies{
    align-content: center;
    z-index: 0;
    position: absolute;
    opacity: 0.1;

}

#control{
    font-family:sans-serif;
    font-size: 2vw;
    margin:auto;
}

table, th, td{
    border: 2px solid black;
    padding: 25px;
    border-collapse: collapse;
    text-align: center;
    content: fit;
    position: relative;
}

#goombas, #cheep-cheeps, #bob-ombs, #cost{
    font-size: 2vw;
}

table{
    width: 100%;
}

footer{
    font-size: 2vw;
    text-align: center;
}

h3{
    font-size: 2vw;
    float:right;
}

#cost{
    position: relative;
}
